html {
  height: 100%;
  width: 100%;
}

body {
  height: 95%;
  width: 100%;
  font-family: sans-serif;
  background-color: black;
}

.main-container {
  width: 75%;
  margin: 10px auto;
  background: rgba(255, 255, 255, 0.86);
  padding: 5px;
  border-radius: 10px;
}

.main-container h1 {
  text-align: center;
}

.text-box {
  margin: 0px auto;
  width: 40%;
}

p{
  text-align: center;
  margin: 3px 0;
  font-size: 20px;
}

.messages-container {
  width: 400px;
  height: auto;
  background-color: black;
  border-color: 4px green solid;
  margin: 0 auto;
  border-radius: 0px 0px 25px 25px;
}

.messages-container p {
  height: 75px;
  width: 250px;
  background: grey;
  border: 2px solid black;
  position: relative;
  margin: 1% 20%;
  display: inline-flex;
  flex-wrap: nowrap;
  float: inherit;
  padding: 10px;
  border-radius: 25px;
}

.top {
  height: 50px;
  width: 400px;
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  border-radius: 25px 25px 0 0;
  background-color: #3ca2e0;

}
